body {
    font-family: Lato;
}
.container {
    display: inline;
    position: relative;
    width: 100%;
    height: 100vh;
}
.floating-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: pink;
    color: #322626;
    text-decoration: none;
    font-weight: bold;
    border-radius: 100%;
}
p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0 30px 0;;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
}
h1{
    font-size: 60px;
    font-weight: 900;
    color: #272727;
}
.headp {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
}
button {
    border: none;
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-size: 15px;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;
}
.banner .pic1{
    width: 500px;
}
.banner2{
    padding: 30px 150px 30px 150px;
    display: flex;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
}
h2{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 5px;
    padding-bottom: 0px;
    color: #272727;
}
span{
    color: #E55473
}
.deal, .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-right: 50px;
}
.details{
    text-align: center;
};
.social{
    padding: 30px 150px 30px 150px;
}
.insta .img-grp{
    width: 500px;
    
}
.insta{
    justify-content: center;
}
.img-grp{
    display: flex;
    padding: 30px 150px 30px 150px;
}
.pic3{
    margin: 5px;
    width: 50%;
}
.form1{
    justify-content: center;
    background-image: url('../Flower-Asset/Rectangle 9.png');
    width: 1050px;   
    margin: 0 150px 0 150px;
    padding: 30px 0 40px 0;
    align-items: center;
    border-radius: 8px;
}
.frm{
    display: flex;
    justify-content: center;
}
input{
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 500px;
    height: 7px;
}
.last1{
    background: #111010;
    text-align: center;
    line-height: 10px;
    padding: 55px 335px 55px 335px;
}
.shop{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}
.fcont{
    color: rgba(255, 255, 255, 0.90);
    font-weight: light;
}
.detail1{
    color: rgba(255, 255, 255, 0.40);;
}

